@font-face {
  font-family: gotham;
  src:url(GothamExtraLight.otf);
}

html {
  height: 100%;
}

body{
  font-family: gotham;
  background-color: #78866b;  
  color: black;
  padding: none;
  margin: none;
  height: 90%;
}

h1{
  font-size: 30px;
  text-align: left;
  font-weight: 400;
  padding: none;
  padding-left: 15px;
  margin: none;
  height: 35%;
}

.main {
  text-align: center;
  align-items: center;
  font-size: 50px;
  padding: none;
  margin: none;
  height: 25%;
}

#mainLine{
  font-size: 80px;
  text-align: center;
}

.bottomBar {
  font-size: 100%;
  font-weight: 100;
  width: 100%;
  color: black;
  display: flex;
  background-color: transparent;  
  justify-content: center;
  align-items: flex-end;

  margin: none;
  padding: none;
  height: 40%;
}

button {
  font-size: 100%;
  border: none;
  color: black;
  font-family: gotham;
  background-color: transparent;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}