@font-face {
  font-family: gotham;
  src:url(GothamExtraLight.otf);
}

body{
  font-family: gotham;
  background-color: #78866b;
  color: black;
}

h1{
  font-size: xx-large;
  text-align: left;
  font-weight: 200;
}

/* change padding/alignment */
#mainLine{
  font-size: xx-large;
  text-align: center;
}

